{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div>

    <h1>{{ app_name }}!</h1>

    <form action="/music/page-1" method="post" class="d-flex">
        <input type="text" name="musicName">
        <button type="submit">Search</button>
    </form>

    <table>
    {% for music in musics %}
        <tr>
            <td>
                <a id="audio" href="/music/{{ music.getPublicIdentifier() }}">{{ music.getName() }}</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    {% if musics|length == 0 %}
        <p>Aucun résulat</p>
    {% else %}
        {% for i in 1..numberOfPage %}
            <a href="/music/page-{{ i }}">{{ i }}</a>
        {% endfor %}
    {% endif %}

    

</div>
{% endblock %}
